#logo {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    .animate



&:hover,.ani {
     left: 40%;

     .h1,.h2 {opacity:0;}
    .h2h {width: 226px;.rotate}
  }


}

.h1 {
    background-position: 0% 0%;
}

.h2 {
    background-position: 100% 0%;
}




.h1,.h2 {
    background-image: url(logo.png);
    width: 39px;
    height: 70px;
    .animate(opacity)
}

.h2h {
    background-image: url(h2h.png);
    height: 70px;
    width: 0px;
    .rotate (180deg)
    .animate
}
.h2h,.h1,.h2 {
    background-repeat:no-repeat;
    float:left;
    margin: 0px auto;
}




.animate (@ani: all) {
  -webkit-transition: @ani 1s ease-in-out;
    -moz-transition: @ani 1s ease-in-out;
    -o-transition: @ani 1s ease-in-out;
    transition: @ani 1s ease-in-out;
}


.rotate (@angle: -2deg) {
-webkit-transform: rotate(@angle);
    -moz-transform: rotate(@angle);
    -o-transform: rotate(@angle);
    writing-mode: lr-tb;
}